/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #ffffff;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	max-width: 960px;
	width: 99%;
	margin: 0 auto;
	border: #931420 solid 3px;
	background-color: #fffded;

}

section {
	width: 65.625%;
	float: right;
	padding: 0 2.5% 20px 2.5%;
	background-color: #fffded;
}

aside {
	width: 26.875%;
	float: right;
	padding: 0 0 20px 2.5%;
	background-color: #fffded;
}

/* the styles for the header */
header {
	border-bottom: #931420 solid 3px;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg,#f6bb73,#ffffff,#f6bb73,#ffffff);
}
header img {
	float: left;
	padding: 0 3.75%;
}

header h2 {
	font-size: 175%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	color: #111111;

}
.shadow {
	color: #800000;
	text-shadow: 2px 2px 3px;
}

/* the styles for the navigation */
#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#nav_menu ul li {
	float: left;
	width: 20%;
}

#nav_menu ul li a {
	display: block;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu a.current {
	color: yellow;
}

#nav_menu ul ul {
	width: 100%;
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}

/* the styles for the section */
section img {
	clear: left;
	padding-bottom: 1em;
}

section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;

}

section p {
	padding-bottom: .5em;
}

section blockquote {
	padding-right: 2em;
	padding-left: 2em;
	font-style: italic;
}

section ul {
	list-style-type: circle;
	padding-left: 1.25em;
	padding-bottom: .25em;
}

section li {
	padding-bottom: .35em;
}

/* the styles for the aside */
aside h2 {
	font-size: 130%;
	padding-top: .5em;
	padding-bottom: .25em;
	color: #800000;

}
aside a:hover {
	font-style: italic;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside img {
	padding-bottom: 1em;
}

h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0;
	margin-bottom: 0;
}

/* the styles for the article */
article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: solid 2px;
	border-top: solid 2px;
	border-color: #800000;
	background-color: #fffded;
}

article img {
	float: right;
	max-width: 40%;
	min-width: 150px;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-left: .5em;
	border: 1px solid black;
}

article h2 {
	padding-top: 0;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

/* the styles for the footer */
footer {
	background-color: #931420;
	clear: both;
}
footer p {
	text-align: center;
	color: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
}

#mobile_menu {
	display: none;
}

/*media query for a tablet in portrait view*/
@media only screen and (max-width: 959px) {
	section h1 {
		font-size: 135%;
	}
	section h2, aside h2 {
		font-size: 120%;
	}
}

/* media query for a phone in landscape orientation */
@media only screen and (max-width: 767px) {
	header img {
		float: none;
	}
	header {
		text-align: center;
	}
	section {
		float: none;
		width: 95%;                     /* 100 - (2 x 2.5) for padding */
	}
	aside {
		float: none;
		padding-right: 2.5%;           /* 20 / 800 x 100 */
		width: 95%;                    /* 100 - (2 x 2.5) for padding */
	}
	article img {
		max-width: 30%;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #800000 !important;
	}
}

/* media query for a phone in portrait orientation */
@media only screen and (max-width: 479px) {
	body {
		font-size: 90%;
	}
}
